name: Build and Push to ECR

on:
  push:
    branches:
      - main  # Replace with your branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: docker/login-actions@v2
      with:
        dockerfile: Dockerfile
        context: .

    - name: Login to Amazon ECR
      run: |
        echo ${{ secrets.AWS_ACCESS_KEY_ID }} | docker login --username AWS --password-stdin ${ECR_REGISTRY}
      env:
        ECR_REGISTRY: 993870876925.dkr.ecr.us-east-1.amazonaws.com

    - name: Build and push Docker image
      run: |
        docker build -t ${ECR_REGISTRY}/contest_page:latest .
        docker push ${ECR_REGISTRY}/contest_page:latest
      env:
        ECR_REGISTRY: 993870876925.dkr.ecr.us-east-1.amazonaws.com

    - name: Logout from Amazon ECR
      run: docker logout ${ECR_REGISTRY}
