name: Build and Push to ECR

on:
  push:
    branches:
      - main  # Replace with your branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64  # Add other platforms if needed
        push: false  # We will handle the push separately

    - name: Login to Amazon ECR
      run: |
        echo AKIA6OZ2SCD6562M7MWX | docker login --username AWS --password-stdin 993870876925.dkr.ecr.us-east-1.amazonaws.com

    - name: Build and push Docker image
      run: |
        docker build -t 993870876925.dkr.ecr.us-east-1.amazonaws.com/contest_page:latest .
        docker push 993870876925.dkr.ecr.us-east-1.amazonaws.com/contest_page:latest


    - name: Logout from Amazon ECR
      run: docker logout 993870876925.dkr.ecr.us-east-1.amazonaws.com
